<% include partials/head %>
<div class="container">
    <form action="/update/<%=user._id %>" method="post""  enctype="multipart/form-data" >

                <div class="form-group">
                    <label for="nom"> Nom </label><input type="text" value="<%=user.nom%>" class="form-control" name="nom" id="">
                </div>
                <div class="form-group">
                    <label for="prenom"> prenom </label> <input type="text"value="<%=user.prenom%>" class="form-control" name="prenom" id="">
                </div>
                <div class="form-group">
                   <label for="genre"> genre</label> <select class="form-control" name="genre">
                        <option value="h">Home</option>
                        <option value="f">Femme</option>
                    </select>
                </div>
  
                <div class="form-group">
                    date de naisance <input type="date" class="form-control" value="<%=user.dateNaissance%>" name="dateNaissance" id="">
                </div>

                <div class="form-group">
                    Ville <input type="text" class="form-control" value="<%=user.ville%>" name="ville" id="">
                </div>
                <div class="form-group">
                    Domaine <input type="text" class="form-control" value="<%=user.domaine%>" name="domaine" id="">
                </div>
        
            <div>
                Photo <input type="file" class="form-control" name="photo" />
            </div>
  
        <button type="submit" class="d-flex float-right btn btn-primary">enregistrer</button>

    </form>

</div>


<style>
.container {
    width:40%;
}
</style>