<% include partials/head %>

<div class="container border border-info" style="width:20%">

  <div id="compteur">
    <span class="text-warning">prochain random</span>
    <span>
      <span id="heure" class="compteur"></span> :
      <span id="minute" class="compteur"></span> :
      <span id="seconde" class="compteur"></span>
    </span>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-header  bg-light text-center">Profil</div>

    <div class="card-body">
      <h5 class="card-title">Infos</h5>
      <img src="../upload/<%=user.photo%>" class="card-img-top" alt="avatar" id="photo"> <br>

      Nom : <%= user.name%> <br>
      Prenom <%=user.prenom%> <br>
      date de naisance <%=moment(user.dateNaissance).format('D MMMM YYYY')%> <br>
      Ville : <%=user.ville %> <br>
      Domaine : <%=user.domaine %> <br>



    </div>
  </div>


</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
  $(document).ready(function () {

    function clock() {

      today = new Date();
      var demain = new Date();
      demain.setDate(today.getDate() + 1);
      demain.setHours(3);
      demain.setMinutes(0);
      demain.setSeconds(0);
      today = new Date().getTime();

      var dif = new Date(demain.getTime() - today);


      $("#heure").html(dif.getUTCHours());
      $("#minute").html(dif.getUTCMinutes());
      $("#seconde").html(dif.getUTCSeconds());


    }
    //clock();
    var temps = setInterval(clock, 1000);
  });
</script>

<style>
  #compteur {
    display: grid;
    background-color: #343a40;
    justify-content: center;
    align-content: center;
    height: 12%;
    border-radius: 10px;
  }

  .compteur {
    font-family: Karla;
    display: inline-block;
    width: 2rem;
    text-align: center;
    background-color: darkgray;
    border-radius: 3px;
  }
</style>